.h2 {
  font-size: 30px;
}

.wrapper {
  margin-bottom: 50px; 
  display: flex;
  flex-direction: column;
  text-align: center;
}

.innerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}